# {{ ansible_managed }}

metrics:
  cpu:
    unit: instance
    alt_name: instance
    groupby:
      - id
      - project_id
    metadata:
      - flavor_id
      - flavor_name
      - image_ref
      - vcpus
    mutate: NUMBOOL
    extra_args:
      aggregation_method: max
      resource_type: instance

  image.size:
    unit: GiB
    factor: 1/1073741824
    groupby:
      - id
      - project_id
    metadata:
      - container_format
      - disk_format
    extra_args:
      aggregation_method: max
      resource_type: image

  ip.floating:
    unit: ip
    groupby:
      - id
      - project_id
    metadata:
      - state
    mutate: NUMBOOL
    extra_args:
      aggregation_method: max
      resource_type: network

  snapshot.size:
    unit: GiB
    groupby:
      - id
      - project_id
    metadata:
      - volume_type
    extra_args:
      aggregation_method: max
      resource_type: volume

  storage.objects.size:
    unit: GiB
    factor: 1/1073741824
    groupby:
      - id
      - project_id
    extra_args:
      aggregation_method: max
      resource_type: swift_account

  volume.size:
    unit: GiB
    groupby:
      - id
      - project_id
    metadata:
      - volume_type
    extra_args:
      aggregation_method: max
      resource_type: volume
